<div class="d-flex border bg-secondary text-white">
    <div class="mr-auto m-2 ml-5">
       <a [routerLink]="['/Home']" >
            <img src="../../assets/image/Logo/GamesStorm 2.png"  width="200"
            height="50" alt="Logo GamesStorm">
        </a>
    </div>
    <div class="col align-self-center d-flex flex-row-reverse">
       <!-- <a [routerLink]="['/Home']" class="text-white" >
            <span class="material-icons" >
                account_circle
            </span>
         </a>-->
        <button mat-icon-button [matMenuTriggerFor]="menu" class="BotonPerfil mr-2">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="MenuPerfil">
            <button mat-menu-item class="DivProfile">   
                <mat-icon  class="IconosPerfile">login</mat-icon>
                <span class="TextoMenuPerfile"><b>Iniciar sesion</b></span>
              </button>
            <button mat-menu-item class="DivProfile">   
              <mat-icon  class="IconosPerfile">settings</mat-icon>
              <span class="TextoMenuPerfile"><b>Configurar Perfil</b></span>
            </button>
            <button mat-menu-item class="DivProfile">
              <mat-icon matBadge="0" class="IconosPerfileCarrito">shopping_cart</mat-icon>
              <span class="TextoMenuPerfile"><b>Carrito</b></span>
            </button>
        </mat-menu>
     </div>
    
</div>
