<div class="d-flex text-white d-flex justify-content-center" id="Header" >
    <div class=" ml-1 mt-1 ">
       <a [routerLink]="['/Home']" >
            <img src="../../assets/image/header.jpg"  id="ImagenCabeza"  alt="Logo GamesStorm">
        </a>
    </div>
    <div class="col align-self-center d-flex flex-row-reverse" id="ConfUsua" >
        <button mat-icon-button  [matMenuTriggerFor]="menu" class="mr-2" >
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="MenuPerfil">
            <button mat-menu-item class="DivProfile" *ngIf="!admin && !Id " [routerLink]="['/Login']">   
                <mat-icon  class="IconosPerfile">login</mat-icon>
                <span class="TextoMenuPerfile ml-1"><b>Iniciar sesion</b></span>
            </button>
            <button mat-menu-item class="DivProfile" *ngIf="!admin && !Id " [routerLink]="['/Registro']">   
              <mat-icon  class="IconosPerfile">person_add_alt_1</mat-icon>
              <span class="TextoMenuPerfile ml-1"><b>Registrarse </b></span>
            </button>
            <button mat-menu-item class="DivProfile" *ngIf="admin === '1'" [routerLink]="['/Panel']" >   
              <mat-icon  class="IconosPerfile">admin_panel_settings</mat-icon>
              <span class="TextoMenuPerfile ml-1"><b>Configuración Administrador</b></span>
            </button>
            <button mat-menu-item class="DivProfile" [routerLink]="['/Carrito']">
              <mat-icon matBadge="{{numProductosCarrito}}" class="IconosPerfileCarrito">shopping_cart</mat-icon>
              <span class="TextoMenuPerfile ml-1"><b>Carrito</b></span>
            </button>
            <button mat-menu-item class="DivProfile" (click)="Cerrar()"  *ngIf="admin && Id ">
              <mat-icon class="IconosPerfileCarrito">exit_to_app</mat-icon>
              <span class="TextoMenuPerfile ml-1"><b>Cerrar Sesion</b></span>
            </button>
        </mat-menu>
     </div>
    
</div>

