<form (ngSubmit)="onSubmit()" #formSubasta="ngForm" [formGroup]="LoginRelacionAccesorio" class="mt-4">    
    <div class="container">
        <div class="shadow-lg p-4 mb-4 bg-white rounded ">
            <div>
                <h1 class="text-center">Editar Relacion Accesorio Plataforma</h1>
            </div>
            <div class="row col-12">
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  value="{{RelacionAccesorioSelecion.Nombre_Accesorio}} " type="text" placeholder="Accesorio"  disabled>
                    </mat-form-field>        
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  value="{{RelacionAccesorioSelecion.Nombre_Plataforma}} " type="text" placeholder="Plataforma"  disabled>
                    </mat-form-field> 
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  [(ngModel)]="RelacionAccesorioSelecion.Precio" type="number" placeholder="Precio" min="0" formControlName="Precio">
                        <mat-error *ngIf="isValidField('Precio')" >
                            {{ getErrorMessage("Precio") }} 
                        </mat-error>
                    </mat-form-field>     
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  [(ngModel)]="RelacionAccesorioSelecion.Edicion" type="text" placeholder="Edicion" formControlName="Edicion">
                        <mat-error *ngIf="isValidField('Edicion')" >
                            {{ getErrorMessage("Edicion") }} 
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  [(ngModel)]="RelacionAccesorioSelecion.Stock" type="number" placeholder="Stock" min="0" formControlName="Stock">
                        <mat-error *ngIf="isValidField('Stock')" >
                            {{ getErrorMessage("Stock") }} 
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex ">
                <div class="ml-auto p-2 pr-3">
                <button [disabled]="LoginRelacionAccesorio.invalid" type="submit" mat-flat-button color="accent">Guardar</button>
                &nbsp;
                <button (click)="volver()" type="button" mat-flat-button color="primary">Volver</button>
                </div>
            </div>
        </div>
    </div> 
    </form>
