<div  class="bg-secondary ">
    <a class="ml-2" id="Migas" [routerLink]="['/Home']"><b>Inicio</b></a><a class="text-white" style='text-decoration:none'><b> /</b> Acerca de</a>
</div>

 <div class="container d-flex justify-content-center mt-4" >
        <div class="row  rounded col-12">
            <div  class="col-12">
                <h1 class="text-center"><b>Bienvenido</b></h1>
                <hr id="hrBienvenido">
            </div>
            <div class="ImgAbout col-lg-8 col-md-12 mt-2" >
                    <img id="Img" src="../../../assets/image/AboutGamesStorm.jpg" alt="Imagen biblioteca Videjuegos" class="shadow-lg p-3  bg-white rounded">                     
            </div>
            <div class="QuienesSomos col-lg-4 col-md-12 mt-4" >               
                <h2>
                    <b>Que es Games Storm ?</b>
                    <hr class="hr">
                </h2>
                <p>
                    <b>
                    Games Storm es una web dedicada a la venta de videojuegos y accesorios de todo tipo para mejorar las experiencias de juego de nuestros clientes, también contamos 
                    con una sesión de subastas para los usuarios de la web con el que podrán obtener a un precio menor 
                    </b>
                </p>
                <h2>
                    <b>Nuestra Mision </b>
                    <hr class="hr">
                </h2>
                <p>
                    <b>
                        Dar al cliente el mejor servicio y variedad, calidad y valor de productos.
                    </b>
                </p>
            </div>
            <div class="row col-12 mt-4">
                <div class="col-lg-5 col-sm-12 QuienesSomos">
                    <h2>
                        <b>Quienes Somos ?</b>
                        <hr class="hr">
                    </h2>
                    <p> 
                        <b>
                            Somos un pequeño grupo de profesionales en desarrollo web y expertos en los videojuegos que creamos esta portal de venta  sombre nuestro 
                            afición que son los videojuegos
                        </b>
                    </p>
                </div>
                <div class="row col-lg-7 col-sm-12 ml-2 ">
                    <div class="row col-lg-6 col-sm-12 d-flex justify-content-center">
                        <div class="ImgAdmin col-6 mt-4">
                            <div>
                                <img class="imgAdmin" src="../../../assets/image/userAdmin.png" alt="Avatar" >
                            </div>
                            
                        </div>
                        
                    </div>
                    <div  class="row col-lg-6 col-sm-12 ">
                        <div class="col-12 mt-2">
                            <h3 class="mt-4"><strong>Petyo Ivov Dimitrov</strong></h3>
                            <strong>Founder & CTO en Games Storm</strong>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div> 