<div class="row mt-2">
    <div class="col-4 text-left">
        <button class="ml-2" mat-raised-button [routerLink]="['/Panel']"  color="warn">Volver al Panel</button >
    </div>
    <div class="col-4 text-center">
        <h2>Listado de Compras de Accesorios</h2>
    </div>
    <div class="col-4 text-right ">Añadir Compra Accesorio
        <a mat-icon-button [routerLink]="['/Panel/ComprarAccesorio/Agregar']">
            <mat-icon color="primary">add_box</mat-icon>
        </a>
    </div>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="listaCompraAccesorio" class="mat-elevation-z8 col-12" style="width:100%;">
    <ng-container matColumnDef="Accesorio">
        <th mat-header-cell *matHeaderCellDef>Accesorio</th>
        <td mat-cell *matCellDef="let CompraAccesorio"> {{CompraAccesorio.Nombre_Accesorios}} </td>
    </ng-container>
    <ng-container matColumnDef="Usuario">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let CompraAccesorio"> {{CompraAccesorio.Nombre_User}} </td>
    </ng-container>
    <ng-container matColumnDef="Plataforma">
      <th mat-header-cell *matHeaderCellDef>Plataforma</th>
      <td mat-cell *matCellDef="let CompraAccesorio">{{CompraAccesorio.Nombre_Plaforma}}</td>
    </ng-container>
    <ng-container matColumnDef="Edicion">
        <th mat-header-cell *matHeaderCellDef>Edicion</th>
        <td mat-cell *matCellDef="let CompraAccesorio">{{CompraAccesorio.Edicion}}</td>
      </ng-container>
      <ng-container matColumnDef="Precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let CompraAccesorio">{{CompraAccesorio.Precio}}</td>
      </ng-container>
      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let CompraAccesorio">{{CompraAccesorio.Cantidad}}</td>
      </ng-container>
    
    <!--Editar Acesorios-->
    <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let CompraAccesorio">
            <a mat-icon-button [routerLink]="['/Panel/ComprarAccesorio/Editar',CompraAccesorio.Id_Accesorios,CompraAccesorio.Id_User,CompraAccesorio.Id_Plaforma]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <!--Eliminar Acesorios-->
    <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let CompraAccesorio" >
            <button (click)="eliminarCompraAccesorio(CompraAccesorio)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
    <tr mat-row *matRowDef="let CompraAccesorio; columns: columndefs;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>
