<form (ngSubmit)="onSubmit()" #formSubasta="ngForm" [formGroup]="LoginJuego" class="mt-4">    
    <div class="container">
        <div class="shadow-lg p-4 mb-4 bg-white rounded ">
            <div>
                <h1 class="text-center"><b>Añadir Usuario</b></h1>
            </div>
            <div class="row col-12">
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  [(ngModel)]="JuegoModel.Nombre" type="text" placeholder="Nombre"  formControlName="Nombre">
                        <mat-error *ngIf="isValidField('Nombre')" >
                            {{ getErrorMessage("Nombre") }} 
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  [(ngModel)]="JuegoModel.EdadMin" type="number" placeholder="Edad Minima"  formControlName="EdadMin">
                        <mat-error *ngIf="isValidField('EdadMin')" >
                            {{ getErrorMessage("EdadMin") }} 
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  [(ngModel)]="JuegoModel.Lanzamiento" type="date" placeholder="Lanzamiento"  formControlName="Lanzamiento">
                        <mat-error *ngIf="isValidField('Lanzamiento')" >
                            {{ getErrorMessage("Lanzamiento") }} 
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  [(ngModel)]="JuegoModel.Video" type="text" placeholder="Video"  formControlName="Video">
                        <mat-error *ngIf="isValidField('Video')" >
                            {{ getErrorMessage("Video") }} 
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <textarea matInput [(ngModel)]="JuegoModel.Descripcion" type="tel" placeholder="Descripcion"  formControlName="Descripcion"></textarea>
                        <mat-error *ngIf="isValidField('Descripcion')" >
                            {{ getErrorMessage("Descripcion") }} 
                        </mat-error>
                    </mat-form-field>
                </div>
               
                <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-select  placeholder="Genero" [(ngModel)]="JuegoModel.Id_Genero"  formControlName="Id_Genero" >
                            <mat-option *ngFor="let Genero of listaGenero" [value]="Genero.Id">
                                {{Genero.Nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isValidField('Id_Genero')" >
                            {{ getErrorMessage("Id_Genero") }} 
                        </mat-error>
                    </mat-form-field> 
                </div>
            </div>
            <div class="row col-12">
                <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                    <!-- <mat-form-field>
                       <input matInput  [(ngModel)]="UserModel.Logo" type="text" placeholder="Logo"  formControlName="Logo">
                        <mat-error *ngIf="isValidField('Logo')" >
                            {{ getErrorMessage("Logo") }} 
                        </mat-error></mat-form-field>-->
                        <div>
                            <p>Portada</p>
                        </div>
                        <div>
                            <input [(ngModel)]="JuegoModel.Portada" type="file"  formControlName="Portada">
                        </div>      
                </div>
                <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                    <mat-label>Imagenes</mat-label><br>
                    <input [(ngModel)]="JuegoModel.Imagenes" type="file"  formControlName="Imagenes">
                    
                </div>
            </div>
            <div class=" row col-12">
                <div class="col-lg-3 col-md-0"></div>
                <div class="col-lg-6 col-md-6 ml-auto p-2 pr-3 d-flex justify-content-end">
                <button [disabled]="LoginJuego.invalid" type="submit" mat-flat-button color="accent">Guardar</button>
                &nbsp;
                <button (click)="volver()" type="button" mat-flat-button color="primary">Volver</button>
                </div>
            </div>
        </div>
    </div> 
</form>
