.hr {
    height: 3px;
    width: 50%;
    background-color:hotpink;
}
.gradient-custom {
    
    border: 2px solid black;
    border-radius: 25px;
    /* fallback for old browsers */
    background: #30cfd0;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5))

  }

  #Migas:hover{
    color: rgb(247, 105, 204); 
}
#Migas {
    color: rgb(255, 255, 255);
    text-decoration:none;
}


.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
