<div  class="bg-secondary ">
    <a class="ml-2" id="Migas" [routerLink]="['/Home']"><b>Inicio</b></a><a class="text-white" style='text-decoration:none'><b> /</b> Tienda</a>
</div>

<div class="col-12 text-center mt-4">
    <h1><b>¿Que estas buscado?</b><hr class="hr"></h1>
</div>
 
<div class="row col-12 mt-3 ">
    <div class="col-lg-4 col-md-4  mt-2" [routerLink]="['/ListadoJuegos']">
        <div class="gradient-custom row text-white text-center m-2">
            <div class="Icono col-1 mt-2 ml-3">
                <span class="material-icons text-dark">
                    videogame_asset
                </span>
            </div>
            <div class="col-10 mt-1 text-dark">
                <h1>
                   <b>Videojuegos</b>
                </h1>
            </div>
           
        </div>
    </div>
    <div class="col-lg-4 col-md-4  mt-2" [routerLink]="['/ListadoAccesorios']">
        <div class="gradient-custom row text-white text-center m-2">
            <div class="Icono col-1 mt-2 ml-3">
                <span class="material-icons text-dark">
                    headset_mic
                </span>
            </div>
            <div class="col-10 mt-1 text-dark">
                <h1>
                   <b>Accesorios</b>
                </h1>
            </div>
           
        </div>
    </div>
    <div class="col-lg-4 col-md-4  mt-2" [routerLink]="['/Subastas']">
        <div class="gradient-custom row text-white text-center m-2">
            <div class="Icono col-1 mt-2 ml-3">
                <span class="material-icons text-dark">
                    hourglass_top
                    </span>
            </div>
            <div class="col-10 mt-2 text-dark">
                <h1>
                   <b>Subastas</b>
                </h1>
            </div>
           
        </div>
    </div>
</div>

<div class="row col-12 mt-3 ">
    <div class="col-12  mt-2" >
        <div class="gradient-custom row text-white text-center m-2">
            <div class="Icono col-1 mt-2 ml-3">
                <span class="material-icons text-dark" >
                    queue_play_next
                </span>
            </div>
            <div class="col-10 mt-1 text-dark">
                <h1>
                   <b>Próximas  opciones </b>
                </h1>
            </div>
           
        </div>
    </div>
</div>


