<div class="col-12 text-center mt-4">
    <h1><b>Panel de Administrador</b><hr class="hr"></h1>
</div>

<div class="row col-12 mt-3 ">
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2 " [routerLink]="['/Panel/User']">
        <mat-card class="bg-primary text-white text-center">User</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/Plataforma']">
        <mat-card class="bg-primary text-white text-center">Plataforma</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/Categoria']">
        <mat-card class="bg-primary text-white text-center">Categoria</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/Genero']">
        <mat-card class="bg-primary text-white text-center">Genero</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/Juego']">
        <mat-card class="bg-primary text-white text-center">Juego</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/RelacionJuego']">
        <mat-card class="bg-primary text-white text-center">Relacion Juego</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/Accesorio']">
        <mat-card class="bg-primary text-white text-center">Accesorio</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/RelacionAccesorio']">
        <mat-card class="bg-primary text-white text-center">Relacion Accesorio</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/Subasta']">
        <mat-card class="bg-primary text-white text-center">Subasta</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/Puja']">
        <mat-card class="bg-primary text-white text-center">Puja</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/ComprarJuego']">
        <mat-card class="bg-primary text-white text-center">Compra Juego</mat-card>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mt-2" [routerLink]="['/Panel/ComprarAccesorio']">
        <mat-card class="bg-primary text-white text-center">Compra Accesorio</mat-card>
    </div>
</div>