.navbar-toggler{
  background-color:white;
  border: solid;
  outline:none;
}
#menu{
  position: relative;
}
.nav-link{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.DivProfile{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
li{
  font-size: 120%;
}