* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1e1e1e;
    background-image: url(https://static.pexels.com/photos/8395/lights-night-unsharp-blured.jpg);
    background-size: cover;
    height: 100vh;
  
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
  }
  h1 {
    text-align: center;
    color: #fff;
    padding-top: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  nav {
    height: 40px;
    margin: 40px auto;
    background-color: rgba(27, 27, 27, 0.795);
    text-align: center;
    border-radius: 4px;
  }
  .main {
    display: flex;
    justify-content: center;
  }
  .main > li {
    margin: 0 2%;
  }
  a {
    text-decoration: none;
    color: #ffe;
    text-transform: capitalize;
    font-family: monospace;
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    transition: background-color 0.5s ease-in-out;
  
    font-family: "Raleway", sans-serif;
  }
  
  a:hover {
    background-color: #631818;
  }
  
  .drop li {
    opacity: 0;
    transform-origin: top center;
  }
  
  .drop li a {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
  }
  
  /*------------- menu6 animation -------------------*/
  .main li a:hover{
    background-color: rgb(45, 174, 248);
  }
  .main li:hover .menu6 li:first-of-type {
    animation: menu6 0.3s ease-in-out forwards;
    animation-delay: 0.2s;
  }
  
  .main li:hover .menu6 li:nth-of-type(2) {
    animation: menu6 0.3s ease-in-out forwards;
    animation-delay: 0.4s;
  }
  
  .main li:hover .menu6 li:nth-of-type(3) {
    animation: menu6 0.3s ease-in-out forwards;
    animation-delay: 0.6s;
  }
  
  .main li:hover .menu6 li:last-of-type {
    animation: menu6 0.3s ease-in-out forwards;
    animation-delay: 0.8s;
  }
  
  @keyframes menu6 {
    0% {
      opacity: 0;
      transform: scale(2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* my button style */
  .white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #fff;
    transition: 0.35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: sans-serif;
  }
  
  .white-mode:hover {
    background-color: #fff;
    color: #122;
  }