<!--
<nav>
  <ul class="main">
    <li>
      <a href="#">Home</a>
      <ul class="drop menu6">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </li>
    <li><a href="#">news</a>
      <ul class="drop menu6">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </li>
    <li><a href="#">contact</a>
      <ul class="drop menu6">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </li>
    <li><a href="#">works</a>
      <ul class="drop menu6">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </li>
    <li><a href="#">team</a>
      <ul class="drop menu6">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </li>
    <li><a href="#">about</a>
      <ul class="drop menu6">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </li>
  </ul>
</nav>

-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark" id="menu">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon  navbar-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item active ml-4 ">
        <a class="nav-link text-white" [routerLink]="['/Home']"> Inicio</a>
      </li>
      <li class="nav-item">
        <button class="nav-link text-white ml-4" [matMenuTriggerFor]="Articulos">Artículos</button>
      </li>
      <mat-menu #Articulos="matMenu" class="MenuPerfil">
        <button mat-menu-item class="DivProfile" [matMenuTriggerFor]="ArticulosJuegosAccesorios">   
            <span class="TextoMenuPerfile"><b>Articulos</b></span>
            <mat-menu #ArticulosJuegosAccesorios="matMenu" class="MenuPerfil">
              <button mat-menu-item class="DivProfile" [routerLink]="['/']">   
                  <span class="TextoMenuPerfile"><b>Juegos</b></span>
              </button>
              <button mat-menu-item class="DivProfile" [routerLink]="['/']">   
                <span class="TextoMenuPerfile"><b>Accesorios </b></span>
              </button>
          </mat-menu>
        </button>
      </mat-menu>
      <li class="nav-item ml-4">
        <a class="nav-link text-white" [routerLink]="['/']">Subastas</a>
      </li>
      <li class="nav-item ml-4">
        <a class="nav-link text-white" [routerLink]="['/About']">Acerca de</a>
      </li>
    </ul>
  </div>
</nav>