<nav id="navegador" class=" navbar navbar-expand-lg  bg-dark ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons mr-2 text-danger " i>
        list
      </span>
  </button>
  <div class="collapse navbar-collapse  bg-dark " id="navbarSupportedContent"> 
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/Home']"><b>Inicio</b> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b> Tienda</b>
              </a>
              <div class="dropdown-menu  bg-dark " aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/Subastas']"><b>Subastas</b></a>
                  <div class="dropdown-divider  bg-dark "></div>
                  <div class="dropdown dropright  bg-dark ">
                      <button class="dropdown-toggle dropdown-item " type="button" id="dropdownMenuButton"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <b> Articulos </b>
                      </button>
                      <div class="dropdown-menu  bg-dark " aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item bg-dark" [routerLink]="['/ListadoJuegos']" title="Juegos"><b>Juegos</b></a>
                          <a class="dropdown-item bg-dark" [routerLink]="['/ListadoAccesorios']" title="Accesorios"><b>Accesorios</b></a>
                      </div>
                  </div>
               </div> 
                 
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/About']"><b>Acerca de</b> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/MapaWeb']"><b>Mapa Web</b> <span class="sr-only">(current)</span></a>
          </li>
      </ul>
  </div>
</nav>
