

<div class="row d-flex justify-content-center mt-5 mb-5">
    <div class="col-8 mat-elevation-z8 ">
        <div class="text-center mt-2">
            <h1><b>MAPA DEL SITIO</b></h1>
        </div>
        <div class="m-3">
            <section> 
                <div> 
                    <div>
                        <h2><b>GamesStorm</b></h2>   
                        <li><a [routerLink]="['/Home']" title="Home" style='text-decoration:none;color:black;(otros)' >Home </a></li>  
                        <li><a [routerLink]="['/ListadoJuegos']" title="ListadoJuegos" style='text-decoration:none;color:black;(otros)' >Tienda Juegos</a></li>   
                        <li><a [routerLink]="['/ListadoAccesorios']" title="ListadoAccesorios" style='text-decoration:none;color:black;(otros)' >Tienda Accesorios</a></li> 
                        <li><a [routerLink]="['/About']" title="About" style='text-decoration:none;color:black;(otros)' >Acerca de</a></li>
                    </div> 
                    <div>
                        <h2><b>Cuenta</b></h2>   
                        <li><a [routerLink]="['/Login']" title="Login" style='text-decoration:none;color:black;(otros)'>Iniciar Sesión</a></li>  
                        <li><a [routerLink]="['/Registro']" title="Registro" style='text-decoration:none;color:black;(otros)'> Registrarse</a></li> 
                        <li><a [routerLink]="['/Panel']" title="Panel" style='text-decoration:none;color:black;(otros)'> Área Administrativa </a></li> 
                    </div>
                </div>
                
            </section>
        </div>
        
    </div>
</div>