<div class="row mt-2">
    <div class="col-4 text-left">
        <button class="ml-2" mat-raised-button [routerLink]="['/Panel']"  color="warn">Volver al Panel</button >
    </div>
    <div class="col-4 text-center">
        <h2>Listado de Accesorio</h2>
    </div>
    <div class="col-4 text-right ">Añadir Accesorio
        <a mat-icon-button [routerLink]="['/Panel/Accesorio/Agregar']">
            <mat-icon color="primary">add_box</mat-icon>
   </a>
    </div>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="listaAccesorio | paginate:page_size:page_number | filter:filterPost" class=" col-12" style="width:100%;">
    <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let Accesorio"> {{Accesorio.Nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let Accesorio">{{Accesorio.Descripcion}}</td>
    </ng-container>
    <ng-container matColumnDef="Portada">
        <th mat-header-cell *matHeaderCellDef>Portada</th>
        <td mat-cell *matCellDef="let Accesorio"  width="100px" height="100px"><img [src]="Accesorio.Portada" alt="{{Accesorio.Portada}}" class="h-25 w-25"/></td>
    </ng-container>
    <ng-container matColumnDef="Valoracion">
        <th mat-header-cell *matHeaderCellDef>Valoracion</th>
        <td mat-cell *matCellDef="let Accesorio">{{Accesorio.Valoracion}}</td>
    </ng-container>
    <ng-container matColumnDef="NumValoraciones">
        <th mat-header-cell *matHeaderCellDef>NumValoraciones</th>
        <td mat-cell *matCellDef="let Accesorio">{{Accesorio.NumValoraciones}}</td>
    </ng-container>
    <ng-container matColumnDef="Categria">
        <th mat-header-cell *matHeaderCellDef>Categria</th>
        <td mat-cell *matCellDef="let Accesorio"> {{Accesorio.Nombre_Categoria}} </td>
    </ng-container>

    <!--Editar Acesorios-->
    <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let Accesorio">
            <a mat-icon-button [routerLink]="['/Panel/Accesorio/Editar',Accesorio.Id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <!--Eliminar Acesorios-->
    <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let Accesorio" >
            <button (click)="eliminarAccesorio(Accesorio)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
    <tr mat-row *matRowDef="let Accesorio; columns: columndefs;"></tr>
</table>
<div class="row">
    <div class="col-6 mt-2">
        <mat-form-field class="ml-4">
            <mat-label><b>Buscar Accesorios</b></mat-label>
            <input matInput type="text" class="from-control" placeholder="" [(ngModel)]="filterPost" name="filterPost"> 
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-paginator [length]="listaAccesorio.length"
                [pageSize]="page_size"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)">
        </mat-paginator>
    </div>
</div>
</div>

