 
    <div class="container">
        <div class="shadow-lg p-4 mb-4 bg-white rounded ">
            <div>
                <h1 class="text-center">Administrador de Base de datos</h1>
            </div>
            <div class="row col-12">
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <button  mat-raised-button [routerLink]="['/Accesorios']">Accesorios</button >
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <button  mat-raised-button [routerLink]="['/Categoria']">Categoria</button >
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <button  mat-raised-button [routerLink]="['/Subastas']">Subastas</button >
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <button  mat-raised-button [routerLink]="['/Pujas']">Pujas</button >
                </div>
            </div>
        </div>
    </div> 
    

