<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="auto"
  proportion="20"
  slides="5" 
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
  class="border">
    <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor=""
        [hideOverlay]="false">
        
            <div class="DivCarrusel">
                 <h1 class="h1Carusel" data-heading="Slide">
                    <b> 
                        <a href="{{slide.Text}}">
                             {{slide.Text}}
                        </a>   
                    </b>
                </h1>
            </div>
        
    </mat-carousel-slide>
</mat-carousel>


<div class="row col-12" >
    <div class="col-lg-3 col-md-12   mt-2 " *ngFor="let Subasta of listaSubastas" >
        <mat-card class="example-card mat-elevation-z8 ">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                <span class="material-icons ">
                    sports_esports
                </span>
            </div>
              <mat-card-title>
                       Subasta                 
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>            
                    <h3 style="text-align: center;">
                       <b> {{Subasta.Nombre_Juego}} {{ Subasta.Nombre_Plataforma }}</b>
                    </h3>       
            </mat-card-content>
            <img mat-card-image src="{{Subasta.Portada}}" alt="Fotografia de  {{Subasta.Nombre_Juego}}"> 
            <div class="Tiempo col-12 d-flex justify-content-center" >
                <p class="unit">
                    <strong>{{TiempoRestante.days}}</strong>
                    <span>Días</span>
                </p>
                <p class="unit">
                    <strong>{{TiempoRestante.hours}}</strong>
                    <span>Horas</span>
                </p>
                <p class="unit">
                    <strong>{{TiempoRestante.minutes}}</strong>
                    <span>Mins</span>
                </p>
                <p class="unit">
                    <strong>{{TiempoRestante.seconds}}</strong>
                    <span>Seg</span>
                </p>
            </div>
            <div class="PrecioPuja col-12" id="color">
                <b><h2 >La puja esta en {{ Subasta.PrecioMin }}€</h2></b>
            </div>
            <div class=" col-12 d-flex justify-content-center" *ngIf="admin === null && Id ===null">
                <p class="text-danger" >Para pujar debes registrarte *</p>
            </div>
            <mat-card-actions *ngIf="admin !== null && Id !==null">
                <form (ngSubmit)="pujar(Subasta)" #formSubasta="ngForm" [formGroup]="SubastaHome">
                    <div class="row col-12 ml-1 mb-2">    
                        <div class="InputPuja col-6">
                          
                                <input matInput [(ngModel)]="PujaSubastaModel.Puja" 
                                                type="number" class="form-control" 
                                                placeholder="{{Subasta.PrecioMin}}"
                                                formControlName="Pujado" min="{{Subasta.PrecioMin}}"  autocomplete="off">
                            
                        </div>
                        <div class="BotonPuja col-6">

                                <button [disabled]="SubastaHome.invalid" type="submit" mat-flat-button color="accent" >Pujar</button>

                        </div>  
                    </div>      
                </form>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-lg-9 col-md-12">
        <div class="col-12 mt-1 ">
            <div class="row">
                <div class="Icono col-1">
                        <span class="material-icons mr-2 text-danger w-75" id="IconoFire">
                            local_fire_department
                        </span>
                </div>
                <div class="col-10 ">
                    <h2>
                       <b>Ultimas unidades</b>
                    </h2>
                </div>
            </div>
            
            <div class="row" >
                <div class="col-lg-3 col-md-6 mb-1"  *ngFor="let Juego of datos | slice:0:4; let i=index ">
                    <mat-card class="border "  >
                        <mat-card-header>
                            <mat-card-title><b>{{ Juego.Nombre_Juego }}</b></mat-card-title>
                            <mat-card-subtitle>{{ Juego.Nombre_Plataforma }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="{{Juego.Portada}}" alt="Foto juego {{Juego.Nombre_Juego}} de {{ Juego.Nombre_Plataforma }}" class="img" [routerLink]="['/ListadoJuegos/Juego/',Juego.Id_Juego,Juego.Id_Plataforma]">
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="row">
                                <div class="col-6">
                                    <h2 class="ml-2"> <b>{{ Juego.Precio }}€</b> </h2>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <button mat-flat-button color="accent" (click)="comprar(Juego)" >Añadir</button>
                                </div>
                            </div>     
                        </mat-card-actions>

                    </mat-card>    
                </div>          
            </div>
        </div>

        <div class="col-12 mt-1">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-1"  *ngFor="let Accesorio of datosAccesorios | slice:0:4; let i=index ">
                    <mat-card class="border "  >
                        <mat-card-header>
                            <mat-card-title><b>{{ Accesorio.Nombre_Accesorios }}</b></mat-card-title>
                            <mat-card-subtitle>{{ Accesorio.Nombre_Plataforma }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <img src="{{Accesorio.Portada}}" alt="Foto Accesorio {{Accesorio.Nombre_Accesorios}} de {{ Accesorio.Nombre_Plataforma }}" class="img" [routerLink]="['/ListadoAccesorios/Accesorio/',Accesorio.Id_Accesorios,Accesorio.Id_Plataforma]">
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="row">
                                <div class="col-6">
                                    <h2 class="ml-2"> <b>{{ Accesorio.Precio }}€</b> </h2>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <button mat-flat-button color="accent" (click)="comprar(Accesorio)" >Añadir</button>
                                </div>
                            </div>     
                        </mat-card-actions>
                    </mat-card>    
                </div>          
            </div>
        </div>
    </div>
</div>

