<div class="row mt-2">
    <div class="col-4 text-left">
        <button class="ml-2" mat-raised-button [routerLink]="['/Panel']"  color="warn">Volver al Panel</button >
    </div>
    <div class="col-4 text-center">
        <h2>Listado de Comentario Juego</h2>
    </div>
    <div class="col-4 text-right ">Añadir Comentario Juego
        <a mat-icon-button [routerLink]="['/Panel/ComentarioJuego/Agregar']">
            <mat-icon color="primary">add_box</mat-icon>
        </a>
    </div>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="listaComentarioJuego" class="mat-elevation-z8 col-12" style="width:100%;">
    <ng-container matColumnDef="Juego">
        <th mat-header-cell *matHeaderCellDef>Juego</th>
        <td mat-cell *matCellDef="let ComentarioJuego"> {{ComentarioJuego.Nombre_Juego}} </td>
    </ng-container>
    <ng-container matColumnDef="Usuario">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let ComentarioJuego"> {{ComentarioJuego.Nombre_User}} </td>
    </ng-container>
    <ng-container matColumnDef="Comentario">
      <th mat-header-cell *matHeaderCellDef>Comentario</th>
      <td mat-cell *matCellDef="let ComentarioJuego">{{ComentarioJuego.Comentario}}</td>
    </ng-container>
    
    <!--Editar Acesorios-->
    <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let ComentarioJuego">
            <a mat-icon-button [routerLink]="['/Panel/ComentarioJuego/Editar',ComentarioJuego.Id_Juego,ComentarioJuego.Id_User]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <!--Eliminar Acesorios-->
    <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let ComentarioJuego" >
            <button (click)="eliminarComentarioJuego(ComentarioJuego)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
    <tr mat-row *matRowDef="let ComentarioJuego; columns: columndefs;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>