<form (ngSubmit)="onSubmit()" #formSubasta="ngForm" [formGroup]="LoginComentarioJuego" class="mt-4">    
    <div class="container">
        <div class="shadow-lg p-4 mb-4 bg-white rounded ">
            <div>
                <h1 class="text-center">Editar Comentario Juego</h1>
            </div>
            <div class="row col-12">
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  value="{{ComentarioJuegoSelecionado.Nombre_User}} " type="text" placeholder="Usuario"  disabled>
                    </mat-form-field>        
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  value="{{ComentarioJuegoSelecionado.Nombre_Juego}} " type="text" placeholder="Juego"  disabled>
                    </mat-form-field> 
                </div>
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  [(ngModel)]="ComentarioJuegoSelecionado.Comentario" type="text" placeholder="Comentario"  formControlName="Comentario">
                        <mat-error *ngIf="isValidField('Comentario')" >
                            {{ getErrorMessage("Comentario") }} 
                        </mat-error>
                    </mat-form-field>     
                </div>
            </div>
            <div class="d-flex ">
                <div class="ml-auto p-2 pr-3">
                <button [disabled]="LoginComentarioJuego.invalid" type="submit" mat-flat-button color="accent">Guardar</button>
                &nbsp;
                <button (click)="volver()" type="button" mat-flat-button color="primary">Volver</button>
                </div>
            </div>
        </div>
    </div> 
</form>
