<div class="row">
    <div class="col-4 text-left">
        <button class="ml-2" mat-raised-button [routerLink]="['/Home']"  color="warn">Volver</button >
    </div>
    <div class="col-4 text-center">
        <h2>Listado de Subastas</h2>
    </div>
    <div class="col-4 text-right ">Añadir Accesorio
        <a mat-icon-button [routerLink]="['/Subastas/Agregar']">
            <mat-icon color="primary">add_box</mat-icon>
   </a>
    </div>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="listaSubastas" class="mat-elevation-z8" style="width:100%;">
    <ng-container matColumnDef="Nombre_Juego">
        <th mat-header-cell *matHeaderCellDef>Juego</th>
        <td mat-cell *matCellDef="let Subastas"> {{Subastas.Nombre_Juego}} </td>
    </ng-container>
    <ng-container matColumnDef="Nombre_Plataforma">
      <th mat-header-cell *matHeaderCellDef>Plataforma</th>
      <td mat-cell *matCellDef="let Subastas">{{Subastas.Nombre_Plataforma}}</td>
  </ng-container>
  <ng-container matColumnDef="Edicion">
    <th mat-header-cell *matHeaderCellDef>Edicion</th>
    <td mat-cell *matCellDef="let Subastas"> {{Subastas.Edicion}} </td>
    </ng-container>
    <ng-container matColumnDef="PrecioMin">
        <th mat-header-cell *matHeaderCellDef>PrecioMin</th>
        <td mat-cell *matCellDef="let Subastas"> {{Subastas.PrecioMin}} </td>
    </ng-container>
    <ng-container matColumnDef="TiempoInicio">
        <th mat-header-cell *matHeaderCellDef>TiempoInicio</th>
        <td mat-cell *matCellDef="let Subastas"> {{Subastas.TiempoInicio}} </td>
    </ng-container>
    <ng-container matColumnDef="HoraInicio">
        <th mat-header-cell *matHeaderCellDef>HoraInicio</th>
        <td mat-cell *matCellDef="let Subastas"> {{Subastas.HoraInicio}} </td>
    </ng-container>
    <ng-container matColumnDef="TiempoFin">
        <th mat-header-cell *matHeaderCellDef>TiempoFin</th>
        <td mat-cell *matCellDef="let Subastas"> {{Subastas.TiempoFin}} </td>
    </ng-container>
    <ng-container matColumnDef="HoraFin">
        <th mat-header-cell *matHeaderCellDef>HoraFin</th>
        <td mat-cell *matCellDef="let Subastas"> {{Subastas.HoraFin}} </td>
    </ng-container>
    <ng-container matColumnDef="Nombre_Genero">
        <th mat-header-cell *matHeaderCellDef>Genero</th>
        <td mat-cell *matCellDef="let Subastas"> {{Subastas.Nombre_Genero}} </td>
    </ng-container>
    <!--Editar Acesorios-->
    <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let Subastas">
            <a mat-icon-button [routerLink]="['/Subastas/Editar',Subastas.Id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <!--Eliminar Acesorios-->
    <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let Subastas" >
            <button (click)="eliminarSubasta(Subastas)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
    <tr mat-row *matRowDef="let Accesorios; columns: columndefs;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>
