<div class="row mt-2">
    <div class="col-4 text-left">
        <button class="ml-2" mat-raised-button [routerLink]="['/Panel']"  color="warn">Volver al Panel</button >
    </div>
    <div class="col-4 text-center">
        <h2>Listado de Relacion Accesorio</h2>
    </div>
    <div class="col-4 text-right ">Añadir Relacion Accesorio
        <a mat-icon-button [routerLink]="['/Panel/RelacionAccesorio/Agregar']">
            <mat-icon color="primary">add_box</mat-icon>
   </a>
    </div>
</div>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="listaRelacionAccesorio | paginate:page_size:page_number | filter:filterPost" class=" col-12" style="width:100%;">
    <ng-container matColumnDef="Accesorio">
        <th mat-header-cell *matHeaderCellDef>Accesorio</th>
        <td mat-cell *matCellDef="let RelacionAccesorio"> {{RelacionAccesorio.Nombre_Accesorio}} </td>
    </ng-container>
    <ng-container matColumnDef="Plataforma">
      <th mat-header-cell *matHeaderCellDef>Plataforma</th>
      <td mat-cell *matCellDef="let RelacionAccesorio">{{RelacionAccesorio.Nombre_Plataforma}}</td>
    </ng-container>
    <ng-container matColumnDef="Precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let RelacionAccesorio">{{RelacionAccesorio.Precio}}</td>
    </ng-container>
    <ng-container matColumnDef="Edicion">
        <th mat-header-cell *matHeaderCellDef>Edición</th>
        <td mat-cell *matCellDef="let RelacionAccesorio">{{RelacionAccesorio.Edicion}}</td>
    </ng-container>
    <ng-container matColumnDef="Stock">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let RelacionAccesorio">{{RelacionAccesorio.Stock}}</td>
    </ng-container>
    
    <!--Editar Acesorios-->
    <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let RelacionAccesorio">
            <a mat-icon-button [routerLink]="['/Panel/RelacionAccesorio/Editar',RelacionAccesorio.Id_Accesorio,RelacionAccesorio.Id_Plataforma]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <!--Eliminar Acesorios-->
    <ng-container matColumnDef="Eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let RelacionAccesorio" >
            <button (click)="eliminarRelacionAccesorio(RelacionAccesorio)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
    <tr mat-row *matRowDef="let RelacionAccesorio; columns: columndefs;"></tr>
</table>
<div class="row">
    <div class="col-6 mt-2">
        <mat-form-field class="ml-4">
            <mat-label><b>Buscar Accesorio</b></mat-label>
            <input matInput type="text" class="from-control" placeholder="" [(ngModel)]="filterPost" name="filterPost"> 
        </mat-form-field>
    </div>
    <div class="col-6">
        <mat-paginator [length]="listaRelacionAccesorio.length"
                [pageSize]="page_size"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)">
        </mat-paginator>
    </div>
</div>
</div>

