<form (ngSubmit)="onSubmit()" #formSubasta="ngForm" [formGroup]="LoginComentarioAccesorio" class="mt-4">    
    <div class="container">
        <div class="shadow-lg p-4 mb-4 bg-white rounded ">
            <div>
                <h1 class="text-center">Añadir Comentario Accesorio</h1>
            </div>
            <div class="row col-12">
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-select  placeholder="Accesorio" [(ngModel)]="ComentarioAccesorioModel.Id_Accesorio"  formControlName="Id_Accesorio" >
                            <mat-option *ngFor="let Accesorio of listaAccesorio" [value]="Accesorio.Id">
                                {{Accesorio.Nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isValidField('Id_Accesorio')" >
                            {{ getErrorMessage("Id_Accesorio") }} 
                        </mat-error>
                    </mat-form-field> 
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <mat-form-field>
                        <mat-select  placeholder="Usuario" [(ngModel)]="ComentarioAccesorioModel.Id_User"  formControlName="Id_User" >
                            <mat-option *ngFor="let User of listaUser" [value]="User.Id">
                                {{User.Nombre}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="isValidField('Id_User')" >
                            {{ getErrorMessage("Id_User") }} 
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-12 d-flex justify-content-center">
                    <mat-form-field>
                        <input matInput  [(ngModel)]="ComentarioAccesorioModel.Comentario" type="text" placeholder="Comentario" formControlName="Comentario">
                        <mat-error *ngIf="isValidField('Comentario')" >
                            {{ getErrorMessage("Comentario") }} 
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="d-flex ">
                <div class="ml-auto p-2 pr-3">
                <button [disabled]="LoginComentarioAccesorio.invalid" type="submit" mat-flat-button color="accent">Guardar</button>
                &nbsp;
                <button (click)="volver()" type="button" mat-flat-button color="primary">Volver</button>
                </div>
            </div>
        </div>
    </div> 
</form>
